:root {
    --input-padding-x: 1rem;
    --input-padding-y: .5rem;
    --placeholder-color: #6c757d;
    --top-position: 14px;
    --label-z-index: 5;
    --input-background-color: #ffffff;
    --top-position-in-border: 5px;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group label {
    margin: 0;
    pointer-events: none;
}

.form-label-group input,
.form-label-group textarea,
.form-label-group label,
.form-label-group:not(.in-border) select {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group label {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: var(--placeholder-color);
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    transform-origin: 0 0;
    transform: translateY(-50%);
    text-align: left;/* 
    visibility: hidden; */
    z-index: var(--label-z-index);
}
.form-label-group.form-control {
    padding:0;
}
.form-label-group.form-control input {
    border: none;
    height: 99%;
}
.form-label-group textarea ~ label {
    top: 0px;
    transform: translateY(0);
}

.form-label-group.transparent input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input::-moz-placeholder {
    color: transparent;
}

.form-label-group.transparent input::placeholder, .form-label-group.transparent textarea::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown), .form-label-group input:focus, .form-label-group textarea:not(:placeholder-shown), .form-label-group textarea:focus {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group:not(.in-border) select {
    padding-bottom: 0;
}

.form-label-group input:not(:placeholder-shown) ~ label, .form-label-group input:focus ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label, .form-label-group textarea:focus ~ label, .form-label-group select ~ label {
    font-size: 1em;
    top: var(--top-position);
    transform: translateY(-50%) scale(.7);
    visibility: visible;
}
.form-label-group input.form-control-lg:not(:placeholder-shown) ~ label, .form-label-group input.form-control-lg:focus ~ label{
    top: calc(2px + var(--top-position));
}
.form-label-group input.form-control-sm:not(:placeholder-shown) ~ label, .form-label-group input.form-control-sm:focus ~ label{
    top: calc(2px - var(--top-position));
}
.form-label-group input:focus::placeholder, .form-label-group textarea:focus::placeholder {
    visibility: hidden;
    color: rgba(255, 255, 255, 0);
    transition-delay: 0s;
    opacity: 0;
    text-shadow: none;
}



.form-label-group input::placeholder, .form-label-group textarea::placeholder {
    transition-delay: .2s;
    color: rgba(255, 255, 255, 0);
    opacity: 0;
}

.form-label-group .intl-tel-input label, .form-label-group .iti label {
    margin-left: 42px;
}

.form-label-group .intl-tel-input input:focus::placeholder, .form-label-group .iti input:focus::placeholder{
    visibility: visible;
    color: var(--placeholder-color);
    opacity: 1;
}


/* In Border */

.form-label-group.in-border label {
    width: auto;
    /* left: .6rem; */
}

.form-label-group.in-border input:focus, .form-label-group.in-border textarea:focus, .form-label-group.in-border select:focus {

    box-shadow: none;
}

.form-label-group.in-border input:not(:placeholder-shown) ~ label, .form-label-group.in-border input:focus ~ label, .form-label-group.in-border textarea:not(:placeholder-shown) ~ label, .form-label-group.in-border textarea:focus ~ label, .form-label-group.in-border select ~ label {
    left: calc(var(--input-padding-x)/10);
    top: var(--top-position-in-border);
    height: auto;
}

.form-label-group.in-border label::after{
    content: " ";
    display: block;
    position: absolute;
    background: var(--input-background-color);
    height: 4px;
    top: 50%;
    left: .7em;
    right: .7em;
    z-index: -1;
}

.form-label-group.in-border input,
.form-label-group.in-border label {
    
    padding: var(--input-padding-y) var(--input-padding-x);
    
}


.form-label-group.in-border textarea,
.form-label-group.in-border textarea ~ label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group.in-border input,
.form-label-group.in-border textarea, 
.form-label-group.in-border label,
.form-label-group.in-border select {
    transition: all .2s linear, border-color .5s ease-in-out,box-shadow .5s ease-in-out;
}


.form-label-group.in-border .intl-tel-input input:not(:placeholder-shown) ~ label, .form-label-group.in-border .intl-tel-input input:focus ~ label, .form-label-group.in-border .iti input:not(:placeholder-shown) ~ label, .form-label-group.in-border .iti input:focus ~ label {
    margin-left: 0px;
}

.form-label-group.iti-right .iti__flag-container {
    right: 0;
    left: auto;
}

.form-label-group.iti-right .iti--allow-dropdown input, .form-label-group.in-border.iti-right .iti--allow-dropdown input[type="tel"], .iti--allow-dropdown input[type="text"], .form-label-group.iti-right .iti--separate-dial-code input, .form-label-group.iti-right .iti--separate-dial-code input[type="tel"], .form-label-group.iti-right .iti--separate-dial-code input[type="text"] {
    padding-left: var(--input-padding-x);
}

.form-label-group.iti-right .intl-tel-input label, .form-label-group.iti-right .iti label {
    margin-left: auto;
}

.form-label-group.iti-right .iti__country-list {
    right: 0px;
}

.form-label-group .iti__country-list {
    z-index: calc(var(--label-z-index) + 2) !important;
}