:root {
    --input-padding-x: .75rem;
    --input-padding-y: .7rem;
    --placeholder-color: #6c757d;
    --top-position: 4px;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.form-label-group label {
    margin: 0;
}

.form-label-group input,
.form-label-group textarea,
.form-label-group label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group label {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: var(--placeholder-color);
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    transform-origin: 0 100%;
    transform: translateY(-50%);
    text-align: left;
    visibility: hidden;
}
.form-label-group textarea ~ label {
    top: 0px;
    transform: translateY(0);
}

.form-label-group.transparent input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group.transparent input::-moz-placeholder {
    color: transparent;
}

.form-label-group.transparent input::placeholder, .form-label-group.transparent textarea::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown), .form-label-group input:focus, .form-label-group textarea:not(:placeholder-shown), .form-label-group textarea:focus {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label, .form-label-group input:focus ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label, .form-label-group textarea:focus ~ label {
    font-size: 1em;
    top: var(--top-position);
    transform: translateY(-50%) scale(.7);
    visibility: visible;
}

.form-label-group input:focus::placeholder, .form-label-group textarea:focus::placeholder {
    visibility: hidden;
    color: transparent;
    transition-delay: 0s;
}

.form-label-group input::placeholder, .form-label-group textarea::placeholder {
    transition-delay: .2s;
    color: var(--placeholder-color);
}

.form-label-group .intl-tel-input label {
    margin-left: 42px;
}
.form-label-group .intl-tel-input input:focus::placeholder{
    visibility: visible;
    color: var(--placeholder-color);
}
